<!doctype html>
<head>
    <title>Logical Equivalency</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style type="text/css">
        body {
            font-size: 14pt;
        }
        th, td {
            border: 1px solid black;
            /*text-align: center;*/
            vertical-align: middle;
            padding: 5px;
            font-family: "Consolas", monospace;
        }

        input[type=text] {
            width: 1000px;
            font-size: 12pt;
            margin-bottom: 5px;
        }

        #header {
            width: 375px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
<div id="header">
    <div style="float: right; margin-top: 7px">
        <a href="https://github.com/MasterOdin/LogicalEquivalency"><img alt='Github' title="View Source Code on Github" src="{{ url_for('static', filename='github-mark.png') }}" /></a>
    </div>
    <h1>Logical Equivalency</h1>
</div>