{% include 'header.html' %}
Logical Formulas:<br />
{{ form }}

<h2>Results</h2>
Statement 1 CDNF:<br />
{{ final_form1 }}<br /><br />
Statement 2 CDNF:<br />
{{ final_form2 }}<br /><br />
{% if equal %}
<span style="font-weight: bold; color: green">
{% else %}
<span style='font-weight: bold; color: red;'>
{% endif %}
<<<
{% if equal %}
    Equations are logically equivalent
{% else %}
    Equations are not logically equivalent</span>
{% endif %}
>>>
</span>
<br /><br />
<hr>
<h3>Statement 1 Transformations</h3>
{% for step in steps1 %}
    {{ step[2] }}<br />
    {{ step[0] }}<br /><br />
{% endfor %}
<hr>
<h3>Statement 2 Transformations</h3>
{% for step in steps2 %}
    {{ step[2] }}<br />
    {{ step[0] }}<br /><br />
{% endfor %}
<br />
<br />
{% include 'footer.html' %}